<div class="jumbotron center" >
    <h1>Let's Art!</h1>
    
    <% if user_signed_in? %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-info' %>
        <%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn btn-info' %>
        <%= link_to 'Pins List', pins_path, class: 'btn btn-info' %>
    <% else %>
        <%= link_to 'Login',new_user_session_path, class: 'btn btn-info' %>
        <%= link_to 'Join', new_user_registration_path, class: 'btn btn-info' %>
    <% end %>
</div>

<p>For amateur artists</p>
<p>Got an art piece you want to share? Show it off!</p>